---
import "@fontsource-variable/inter";

import "@/styles/preflight.css";
import "@/styles/themes.css";
import "@/styles/globals.css";
import "@/styles/utils.css";

import { Theme, THEME_STORAGE_KEY } from "@/models/theme";
import cv from "@/data/cv.json";

const { summary, url } = cv.basics;

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={summary} />

    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={summary} />
    <meta property="og:image" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={url.split("//")[1] ?? ''} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={summary} />
    <meta name="twitter:image" content="" />
  </head>
  <body>
    <script is:inline define:vars={{ Theme, THEME_STORAGE_KEY }}>
      const currentTheme =
        window.localStorage.getItem(THEME_STORAGE_KEY) || Theme.SOFT_DARK;

      document.documentElement.classList.add(currentTheme);

      window.localStorage.setItem(THEME_STORAGE_KEY, currentTheme);
    </script>
    <slot />
  </body>
</html>

<script>
  import posthog from "posthog-js";

  if (
    !window.location.host.includes("127.0.0.1") &&
    !window.location.host.includes("localhost")
  ) {
    posthog.init(import.meta.env.PH_API_KEY, {
      api_host: import.meta.env.PH_INSTANCE_ADDRESS
    });
  }
</script>
